<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="dialect" value="mysql"/>
        <property name="pageSqlId" value=".*Page$"/>
    </properties>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>


    <!-- 命名空间 -->
    <typeAliases>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.hrocloud.common.page.PageInterceptor">
        </plugin>
    </plugins>

    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>