<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrocloud.usrmgmt.dao.UserInfoMapper">
	<resultMap id="BaseResultMap" type="com.hrocloud.usrmgmt.model.UserInfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="login_name" jdbcType="VARCHAR" property="loginName" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="id_type" jdbcType="VARCHAR" property="idType" />
		<result column="id_no" jdbcType="VARCHAR" property="idNo" />
		<result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
		<result column="gender" jdbcType="VARCHAR" property="gender" />
		<result column="mobile_no" jdbcType="VARCHAR" property="mobileNo" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="final_roletype" jdbcType="VARCHAR" property="finalRoleType" />
		<result column="memo" jdbcType="VARCHAR" property="memo" />
		<result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, login_name, password, name, id_type, id_no, birth_date,
		gender,
		mobile_no, email,
		status, memo, last_login, create_time,
		update_time,final_roletype
	</sql>


	<!-- 删除用户信息 -->
	<delete id="deleteUser" parameterType="java.util.List">
		delete from user_info
		where id in
		<foreach collection="list" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>
	</delete>
	<!-- 修改用户状态 -->
	<update id="modifyStatus">
		update user_info 
		<set>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR}
			</if>
		</set>
		where id in
		<foreach collection="list" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>
	</update>
	<update id="modifyFinalRoleType">
		update user_info 
		<set>
			<if test="roleType != null and roleType != ''">
				final_roletype = #{roleType,jdbcType=VARCHAR}
			</if>
		</set>
		where id = #{userId}
		
	</update>

	<select id="queryUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_info
		where ${expr}
		order by id
	</select>

	<!-- <select id="getAllUserPage" resultMap="BaseResultMap"> select <include 
		refid="Base_Column_List" /> from user_info n <where> <if test="nameOrMobile 
		!= null and nameOrMobile != ''"> n.name LIKE CONCAT(CONCAT('%', #{nameOrMobile}),'%') 
		or n.mobile_no LIKE CONCAT(CONCAT('%', #{nameOrMobile}),'%') </if> <if test="status 
		!= null and status != ''"> AND n.status = #{status} </if> </where> order 
		by id </select> -->
	<select id="getAllUserPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_info n
		<where>
			<if test="hashMap != null">
				<if test="hashMap.nameOrMobile != null and hashMap.nameOrMobile != ''">
					(
					n.name LIKE CONCAT(CONCAT('%',
					#{hashMap.nameOrMobile}),'%')
					or
					n.mobile_no LIKE CONCAT(CONCAT('%',
					#{hashMap.nameOrMobile}),'%')
					)
				</if>
				<if test="hashMap.status != null and hashMap.status != ''">
					AND n.status = #{hashMap.status}
				</if>
			</if>

		</where>
		order by id
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="getUser" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_info
		where login_name = #{userCode,jdbcType=INTEGER}
		or
		mobile_no = #{userCode,jdbcType=INTEGER}
		or email =
		#{userCode,jdbcType=INTEGER}
		limit 0,1
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		user_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.hrocloud.usrmgmt.model.UserInfo">
		insert into user_info (
		login_name, password,
		name, id_type, id_no,
		birth_date, gender,
		mobile_no,
		email, status, memo,
		last_login, create_time, update_time,final_roletype
		)
		values (#{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{idType,jdbcType=VARCHAR},
		#{idNo,jdbcType=VARCHAR},
		#{birthDate,jdbcType=TIMESTAMP},
		#{gender,jdbcType=VARCHAR}, #{mobileNo,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
		#{memo,jdbcType=VARCHAR},
		#{lastLogin,jdbcType=TIMESTAMP},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{finalRoleType,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.hrocloud.usrmgmt.model.UserInfo">
		insert into user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="loginName != null">
				login_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="idType != null">
				id_type,
			</if>
			<if test="idNo != null">
				id_no,
			</if>
			<if test="birthDate != null">
				birth_date,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="mobileNo != null">
				mobile_no,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="memo != null">
				memo,
			</if>
			<if test="lastLogin != null">
				last_login,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="finalRoleType != null">
				final_roletype,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="loginName != null">
				#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="idType != null">
				#{idType,jdbcType=VARCHAR},
			</if>
			<if test="idNo != null">
				#{idNo,jdbcType=VARCHAR},
			</if>
			<if test="birthDate != null">
				#{birthDate,jdbcType=TIMESTAMP},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=VARCHAR},
			</if>
			<if test="mobileNo != null">
				#{mobileNo,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="lastLogin != null">
				#{lastLogin,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="finalRoleType != null">
				#{finalRoleType,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.hrocloud.usrmgmt.model.UserInfo">
		update user_info
		<set>
			<if test="loginName != null">
				login_name = #{loginName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="idType != null">
				id_type = #{idType,jdbcType=VARCHAR},
			</if>
			<if test="idNo != null">
				id_no = #{idNo,jdbcType=VARCHAR},
			</if>
			<if test="birthDate != null">
				birth_date = #{birthDate,jdbcType=TIMESTAMP},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=VARCHAR},
			</if>
			<if test="mobileNo != null">
				mobile_no = #{mobileNo,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				memo = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="lastLogin != null">
				last_login = #{lastLogin,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="finalRoleType != null">
				final_roletype = #{finalRoleType,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hrocloud.usrmgmt.model.UserInfo">
		update user_info
		set login_name = #{loginName,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		id_type =
		#{idType,jdbcType=VARCHAR},
		id_no = #{idNo,jdbcType=VARCHAR},
		birth_date = #{birthDate,jdbcType=TIMESTAMP},
		gender =
		#{gender,jdbcType=VARCHAR},
		mobile_no = #{mobileNo,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		memo = #{memo,jdbcType=VARCHAR},
		last_login =
		#{lastLogin,jdbcType=TIMESTAMP},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		final_roletype =
		#{finalRoleType,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>
